<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webhooksmvc5dotnettest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webhooksmvc5dotnettest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebhooksMVC5DotnetTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$WebhooksMVC5DotnetTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Webhooks.Models.DTO.OAuthRealmLastUpdateddataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:webhooksserver.database.windows.net,1433;Initial Catalog=WebhooksMVC5DotnetTest_db;User ID=nemo@webhooksserver;Password=Dimpy@5784" Name="Data Source=tcp:webhooksserver.database.windows.net,1433;Initial Catalog=WebhooksMVC5DotnetTest_db;User Id=nemo@webhooksserver;Password=Dimpy@5784" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Webhooks.Models.DTO.OAuthRealmLastUpdateddataContext, Webhooks_MVC5_Dotnet" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:webhooksserver.database.windows.net,1433;Initial Catalog=WebhooksMVC5DotnetTest_db;User ID=nemo@webhooksserver;Password=Dimpy@5784" Name="Data Source=tcp:webhooksserver.database.windows.net,1433;Initial Catalog=WebhooksMVC5DotnetTest_db;User Id=nemo@webhooksserver;Password=Dimpy@5784" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;Initial Catalog=Nim;Pooling=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=Nim;Pooling=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:webhooksserver.database.windows.net,1433;Initial Catalog=WebhooksMVC5DotnetTest_db;User Id=nemo@webhooksserver;Password=Dimpy@5784</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Webhooks.Models.DTO.OAuthRealmLastUpdateddataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:webhooksserver.database.windows.net,1433;Initial Catalog=WebhooksMVC5DotnetTest_db;User Id=nemo@webhooksserver;Password=Dimpy@5784</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Webhooks.Models.DTO.OAuthRealmLastUpdateddataContext" />
  </ItemGroup>
</Project>